* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
}

body {
  margin: 0;
}

.superhero {
  padding: 10px 0;
}

.no-data {
  color: lightslategray;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: lightblue;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  height: 220px;
}

.title {
  font-size: 1em;
  margin: 0;
}

.info {
  font-size: 0.8em;
  margin: 5px 0;
}

button {
  border: none;
  padding: 5px 10px;
  outline: none;
  border-radius: 4px;
  margin: 5px 0;
}

img {
  width: 100px;
  height: 100px;
}

@media (max-width: 576px) {
  .card {
    width: 40%;
    height: auto;
  }
}
